<!-- post login tools -->
{% if not only_static %}
{% if not hide_login %}
<a href="/login" class="link-menu delay03 container_20 inline-block hidden-xs hidden-sm btn-login-area" id="btn-login"><i class="zoa-icon-user"></i></a>
{% endif %}
<a href="#" class="dropdown dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
       <li><a href="#">Action</a></li>
       <li><a href="#">Another action</a></li>
       <li><a href="#">Something else here</a></li>
       <li class="divider"></li>
       <li><a href="#">Separated link</a></li>
       <li class="divider"></li>
       <li><a href="#">One more separated link</a></li>
    </ul>
{% endif %}
