<!-- post login tools -->
{% if not only_static %}
{% if not hide_login %}
<a href="/login" class="link-menu delay03 container_20 inline-block hidden-xs hidden-sm btn-login-area" id="btn-login"><i class="zoa-icon-user"></i></a>
{% endif %}
<div class="dropdown logged-in" id="website-post-login">
	<a href="#" class="link-menu delay03 container_20 inline-block hidden-xs hidden-sm" id="btn-login"><i class="zoa-icon-user"></i></a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
{% endif %}
