<!-- push menu-->
  <div class="pushmenu menu-home5">
      <div class="menu-push">
          <span class="close-left js-close"><i class="ti-close"></i></span>
          <div class="clearfix"></div>
          <form role="search" method="get" id="searchform" class="searchform title-font" action="/search">
              <div>
                  <label class="screen-reader-text" for="q"></label>
                  <input type="text" placeholder="Lütfen aramak istediğiniz ürünü yazın" value="" name="q" id="q" autocomplete="off">
                  <input type="hidden" name="type" value="product">
                  <button type="submit" id="searchsubmit"><i class="ti-search"></i></button>
              </div>
          </form>
          <ul class="nav-home5 js-menubar clear-space menu-font">
            <li class="level1">
                <a href="#" class="uppercase">bluz</a>
            </li>
              <li class="level1">
                  <a href="#" class="uppercase">ceket</a>
              </li>
              <li class="level1">
                  <a href="#" class="uppercase">triko</a>
              </li>
              <li class="level1">
                  <a href="#" class="uppercase">etek</a>
              </li>
              <li>
                  <a href="#" class="inline-block uppercase"><i class="zoa-icon-user space_right_10"></i>giriş</a>
              </li>
          </ul>
      </div>
  </div>
  <!-- end push menu-->
<header>
<div class="container space_top_bot_55 delay03" id="menu-header">
  <div class="row flex">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-5">
      <a href="#"><img src="asset/img/misscix-logo.png" alt=""></a>
    </div>
    <div class="col-lg-8 col-md-7 hidden-sm hidden-xs menu-center-home1">
      <ul class="nav navbar-nav menu-font menu-main">
        <li class="relative">
          <a href="#" class="link-menu delay03 uppercase">BLUZ</a>
          <figure class="line absolute delay03"></figure>
        </li>
        <li class="relative">
          <a href="#" class="link-menu delay03 uppercase">CEKET</a>
          <figure class="line absolute delay03"></figure>
        </li>
        <li class="relative">
          <a href="#" class="link-menu delay03 uppercase">TRİKO</a>
          <figure class="line absolute delay03"></figure>
        </li>
        <li class="relative">
          <a href="#" class="link-menu delay03 uppercase">ELBİSE</a>
          <figure class="line absolute delay03"></figure>
        </li>
        <li class="relative">
          <a href="#" class="link-menu delay03 uppercase">ETEK</a>
          <figure class="line absolute delay03"></figure>
        </li>
        <li class="relative">
          <a href="#" class="link-menu delay03 uppercase">GÖMLEK</a>
          <figure class="line absolute delay03"></figure>
        </li>
        <li class="relative">
          <a href="#" class="link-menu delay03 uppercase">PANTOLON</a>
          <figure class="line absolute delay03"></figure>
        </li>

      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-7 text-right icon-main">
      <a href="#" class="link-menu delay03 container_20 inline-block hidden-xs hidden-sm" id="btn-search"><i class="ti-search"></i></a>
      <a href="#" class="link-menu delay03 container_20 inline-block hidden-xs hidden-sm" id="btn-login"><i class="zoa-icon-user"></i></a>
      <a href="#" class="link-menu delay03 container_20 relative inline-block text-center" id="btn-cart">
        <i class="ti-bag"></i>
        <figure class="absolute label-cart number-font">0</figure>
      </a>
      <a href="#" class="link-menu delay03 inline-block hidden-md hidden-lg space_left_10 btn-push-menu">
        <svg width="26" height="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 66 41" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                                  <g>
                                      <line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5"></line>
                                      <line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5"></line>
                                      <line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5"></line>
                                  </g>
                 </svg>
      </a>
    </div>
  </div>
</div>
</header>
