<!-- post login tools -->
{% if not only_static %}
{% if not hide_login %}
<a href="/login" class="link-menu delay03 container_20 inline-block hidden-xs hidden-sm btn-login-area" id="btn-login"><i class="zoa-icon-user"></i></a>
{% endif %}
<div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
<ul class="navbar-nav ml-auto justify-content-end">
	<li class="nav-item dropdown logged-in" id="website-post-login"
		data-label="website-post-login" style="display: none">
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
			<span class="user-image-wrapper"></span>
			<span class="full-name"></span>
			<b class="caret"></b>
		</a>
		<div class="dropdown-menu" role="menu">
			{%- for child in post_login -%}
				{%- if child.url -%}
					<a class="dropdown-item" href="{{ child.url | abs_url }}" {{ child.target or '' }}
						rel="nofollow">
						{{ child.label }}
					</a>
				{%- endif -%}
			{%- endfor -%}
			<a class="dropdown-item" href="/desk">{{ _('Switch To Desk') }}</a>
		</div>
	</li>
</ul>
</div>
{% endif %}
