{% macro render_item(item) %}
{% if item.child_items %}
<li class="relative dropdown">
  <a href="#" class="link-menu delay03 uppercase">{{ item.label }}</a>
  <figure class="line active_line absolute delay03"></figure>
  <div class="dropdown-menu mega-menu-main absolute space_30 space_top_bot_50 text-left">
    <div class="container_15">
      <div class="row">
        <div class="col-lg-6 col-md-6 border-right">
          <ul class="clear-space capital lv1">
            {% for child in item.child_items %}
            <li class="menu-child-font"><a href="{{ (child.url or '')|abs_url }}"">{{ child.label }}<</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-6 col-md-6">

        </div>
      </div>
    </div>
  </div>
</li>

<li>
{% else %}
<li class="relative">
  <a href="{{ (item.url or '')|abs_url }}" class="link-menu delay03 uppercase" {{ item.target or ''}}>{{ item.label }}</a>
  <figure class="line absolute delay03"></figure>
</li>
{% endif %}

{% endmacro %}

<!-- push menu-->
  <div class="pushmenu menu-home5">
      <div class="menu-push">
          <span class="close-left js-close"><i class="ti-close"></i></span>
          <div class="clearfix"></div>
          <form role="search" method="get" id="searchform" class="searchform title-font" action="/search">
              <div>
                  <label class="screen-reader-text" for="q"></label>
                  <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
                  <input type="hidden" name="type" value="product">
                  <button type="submit" id="searchsubmit"><i class="ti-search"></i></button>
              </div>
          </form>
          <ul class="nav-home5 js-menubar clear-space menu-font">
              <li class="level1 active dropdown">
                  <a href="#" class="uppercase">Home</a>
                  <span class="icon-sub-menu"></span>
                  <div class="menu-level1 js-open-menu">
                  <ul class="level1">
                      <li class="level2">
                              <a href="#" class="capital">home set 1</a>
                              <ul class="menu-level-2 clear-space">
                                  <li class="level3 capital menu-child-font"><a href="Home1.html" title="">home page 1</a></li>
                                  <li class="level3 capital menu-child-font"><a href="Home2.html" title="">home page 2</a></li>
                                  <li class="level3 capital menu-child-font"><a href="Home3.html" title="">home page 3</a></li>
                                  <li class="level3 capital menu-child-font"><a href="Home4.html" title="">home page 4</a></li>
                              </ul>
                      </li>
                      <li class="level2">
                              <a href="#" class="capital">home set 2</a>
                              <ul class="menu-level-2 clear-space">
                                  <li class="level3 capital menu-child-font"><a href="Home5.html" title="">home page 5</a></li>
                                  <li class="level3 capital menu-child-font"><a href="Home6.html" title="">home page 6</a></li>
                                  <li class="level3 capital menu-child-font"><a href="Home7.html" title="">home page 7</a></li>
                                  <li class="level3 capital menu-child-font"><a href="Home8.html" title="">home page 8 comming soon</a></li>
                              </ul>
                      </li>
                  </ul>
              </div>
              </li>
              <li class="level1 active dropdown"><a href="#" class="uppercase">Shop</a>
                  <span class="icon-sub-menu"></span>
                  <div class="menu-level1 js-open-menu">
                      <ul class="level1">
                          <li class="level2">
                              <a href="#" class="capital">Shop page</a>
                              <ul class="menu-level-2 clear-space">
                                  <li class="level3 menu-child-font"><a href="Shop_right_sidebar.html">shop right sidebar</a></li>
                                  <li class="level3 menu-child-font"><a href="Shop_left_sidebar.html">shop left sidebar</a></li>
                                  <li class="level3 menu-child-font"><a href="Shop_no_sidebar.html">shop full width</a></li>
                                  <li class="level3 menu-child-font"><a href="#">shop page 4 - comming soon</a></li>
                              </ul>
                          </li>
                          <li class="level2">
                              <a href="#" class="capital">Single Product Type</a>
                              <ul class="menu-level-2 clear-space">
                                  <li class="level3 menu-child-font"><a href="Product_detail_1.html">product detail 1</a></li>
                                  <li class="level3 menu-child-font"><a href="Product_detail_2.html">product detail 2</a></li>
                                  <li class="level3 menu-child-font"><a href="#">product detail 3 - Comming soon</a></li>
                                  <li class="level3 menu-child-font"><a href="#">product detail 4 - Comming soon</a></li>
                              </ul>
                          </li>
                      </ul>
                      <div class="clearfix"></div>
                  </div>
              </li>
              <li class="level1 active dropdown">
                  <a href="#" class="uppercase">Blog</a>
                  <span class="icon-sub-menu"></span>
                  <div class="menu-level1 js-open-menu">
                  <ul class="level1">
                      <li class="level2">
                              <a href="#" class="capital">blog page</a>
                              <ul class="menu-level-2 clear-space">
                                  <li class="level3 capital menu-child-font"><a href="Blog_right_sidebar.html">blog right sidebar</a></li>
                                  <li class="level3 capital menu-child-font"><a href="Blog_left_sidebar.html">blog left sidebar</a></li>
                                  <li class="level3 capital menu-child-font"><a href="Blog_no_sidebar.html">blog full width</a></li>
                                  <li class="level3 capital menu-child-font"><a href="#">blog page 4 - comming soon</a></li>
                              </ul>
                      </li>
                      <li class="level2">
                              <a href="#" class="capital">blog detail</a>
                              <ul class="menu-level-2 clear-space">
                                  <li class="level3 capital menu-child-font"><a href="Blog_detail_right_sidebar.html">blog detail right sidebar</a></li>
                                  <li class="level3 capital menu-child-font"><a href="Blog_detail_left_sidebar.html">blog detail left sidebar</a></li>
                                  <li class="level3 capital menu-child-font"><a href="Blog_detail_no_sidebar.html">blog detail full width</a></li>
                                  <li class="level3 capital menu-child-font"><a href="#">blog detail 4 - comming soon</a></li>
                              </ul>
                      </li>
                  </ul>
              </div>
              </li>
              <li class="level1 active dropdown">
                  <a href="#" class="uppercase">Pages</a>
                  <span class="icon-sub-menu"></span>
                  <div class="menu-level1 js-open-menu">
                  <ul class="level1">
                      <li class="level2">
                              <a href="#" class="capital">page set 1</a>
                              <ul class="menu-level-2 clear-space">
                                  <li class="level3 capital menu-child-font"><a href="About_page_1.html">about page 1</a></li>
                                  <li class="level3 capital menu-child-font"><a href="About_page_2.html">about page 2</a></li>
                                  <li class="level3 capital menu-child-font"><a href="FAQ.html">FAQs page</a></li>
                                  <li class="level3 capital menu-child-font"><a href="404.html">404 page</a></li>
                              </ul>
                      </li>
                      <li class="level2">
                              <a href="#" class="capital">page set 2</a>
                              <ul class="menu-level-2 clear-space">
                                  <li class="level3 capital menu-child-font"><a href="cart_page.html">cart page</a></li>
                                  <li class="level3 capital menu-child-font"><a href="wishlist_page.html">wishlist page</a></li>
                                  <li class="level3 capital menu-child-font"><a href="login_page.html">login/register page</a></li>
                                  <li class="level3 capital menu-child-font"><a href="#">other page - comming soon</a></li>
                              </ul>
                      </li>
                  </ul>
              </div>
              </li>
              <li class="level1">
                  <a href="Contact.html" class="uppercase">contact</a>
              </li>
              <li>
                  <a href="#" class="inline-block uppercase"><i class="zoa-icon-user space_right_10"></i>login</a>
              </li>
          </ul>
      </div>
  </div>
  <!-- end push menu-->
<header>
<div class="container space_top_bot_55 delay03" id="menu-header">
  <div class="row flex">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-5">
      <a href="/"><img src="/assets/misscix_theme/img/misscix-logo.png" alt="MissCix"></a>
    </div>
    <div class="col-lg-7 col-md-7 hidden-sm hidden-xs">
      <ul class="nav navbar-nav menu-font menu-main">
        {%- for item in top_bar_items -%}
    			{% if not item.right and not item.parent_label -%}
    				{{ render_item(item) }}
    			{% endif %}
    		{%- endfor %}
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-7 text-right icon-main">
      {%- for item in top_bar_items -%}
  			{% if item.right and not item.parent_label -%}
  				{{ render_item(item) }}
  			{% endif %}
  		{%- endfor %}
      <a href="#" class="link-menu delay03 container_10 inline-block hidden-xs hidden-sm" id="btn-search"><i class="ti-search"></i></a>
  		{% include("misscix_theme/templates/includes/navbar/navbar_login.html") %}
      <a href="/cart" class="link-menu delay03 container_10 relative inline-block text-center cart-icon" id="navLogin">
        <i class="ti-bag"></i>
        <figure class="absolute label-cart number-font"  id="cart-count"></figure>
      </a>
      <a href="#" class="link-menu delay03 inline-block hidden-md hidden-lg space_left_10 btn-push-menu">
        <svg width="26" height="16" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 66 41" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
          <g>
            <line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5"></line>
            <line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5"></line>
            <line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5"></line>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
</header>
