{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description %}
{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description_cart %}

{% for d in doc.items %}

<td class="product-name">
{{ item_name_and_description(d) }}
</td>
<td class="btn-fuction">
    <div class="input-number-group col-qty">
        <div class="relative input-number-custom">
          <div class="input-group-button absolute down-btn">
                <span class="input-number-decrement ti-angle-down"></span>
            </div>

      <input class="input-number menu-font cart-qty"
      type="number" min="0" max="1000"
      value = "{{ d.get_formatted('qty') }}"
      data-item-code="{{ d.item_code }}">

                                  <div class="input-group-button absolute up-btn">
                                      <span class="input-number-increment ti-angle-up"></span>
                                  </div>

        </div>
    </div>
</td>
<td class="total-price">
  <p class="price">{{ d.get_formatted("amount") }}</p>
  <p class="text-muted small item-rate">{{
      _("Rate: {0}").format(d.get_formatted("rate")) }}</p>
</td>
{% endfor %}
