{% extends "templates/web.html" %}


{% block page_content %}
<div class="item-group-content" itemscope itemtype="http://schema.org/Product">
	<div>
		{% if slideshow %}<!-- slideshow -->
		{% include "templates/includes/slideshow.html" %}
		{% endif %}
		{% if description %}<!-- description -->
		<div itemprop="description">{{ description or ""}}</div>
		{% endif %}
	</div>
	<div>
		{% if items %}
		<div id="search-list" {% if not products_as_list -%} {%- endif %}>
      <div class="container shop-page margin_bottom_150">
      	<div class="row">
      		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-shop full-shop">
      			<div class="row btn-function-shop">
      				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin_bottom_50">
      					<button class="active" id="btn-grid"><i class="ti-layout-grid3-alt"></i></button>
      					<button id="btn-list"><i class="ti-list"></i></button>
      				</div>
      				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 margin_bottom_50 text-right select-view">
      					<!--<button><i class="ti-eye"></i></button>
      					<select id="select-show">
      						<option>Sort by popularity</option>
                              <option>Featured</option>
                              <option>Best selling</option>
                              <option>Alphabetically, A - Z</option>
                              <option>Price, hight to low</option>
                              <option>Price, low to hight</option>
      					</select>-->
      				</div>
      			</div>
          </div>
        </div>
        <div class="row">
          {% for i in range(0, page_length) %}
    				{% if items[i] %}
    					{{ items[i] }}
    				{% endif %}
    			{% endfor %}
        </div>
      </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="pagination">
					{% if frappe.form_dict.start|int > 0 %}
					<li><a href="/{{ pathname }}?start={{ frappe.form_dict.start|int - page_length }}" class="des-font border">{{ _("Prev") }}</a></li>
					{% endif %}
					{% if items|length > page_length %}
					<li><a  href="/{{ pathname }}?start={{ frappe.form_dict.start|int + page_length }}" class="des-font border">{{ _("Next") }}</a></li>
					{% endif %}
				</ul>
				{% else %}
					<div class="text-muted">{{ _("No items listed") }}.</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
