{% extends "templates/web.html" %}

{% block meta_block %}
	{% include "templates/includes/meta_block.html" %}
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block script %}
<script src="/assets/misscix_theme/js/function-input-number.js" defer=""></script>
{% endblock %}
</script> %}

{% block page_content %}
{% from "templates/includes/macros.html" import slayt_resim %}
<div class="container product-detail margin_bottom_150" itemscope itemtype="http://schema.org/Product">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin_bottom_50">
			<div class="row">
				{% if slideshow %}
				{% set slideshow_items = frappe.get_list(doctype="Website Slideshow Item",  fields=["image"], filters={ "parent": doc.slideshow }) %}
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<div class="slick-nav-product-detail-vertical">
					{%- for slideshow_item in slideshow_items -%}
						{% set image_src = slideshow_item['image'] %}
						{% if image_src %}
						<div>
							<img src="{{ image_src }}" class="img-responsive" alt="MissCix">
						</div>
						{% endif %}
					{% endfor %}
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
					<div class="slick-product-detail-vertical margin_bottom_20">
						{%- for slideshow_item in slideshow_items -%}
							{% set image_src = slideshow_item['image'] %}
							{% if image_src %}
						<div>
							<img src="{{ image_src }}" class="img-responsive full-width" alt="MissCix">
						</div>
						{% endif %}
					{% endfor %}
					</div>
				</div>
				{% else %}
				<div class="col-lg-12">
					{{ slayt_resim(website_image, "product-full-image") }}
				</div>
				{% endif %}
			</div>
			<!--  -->
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 info-product-detail" itemscope itemtype="http://schema.org/Offer">
			<h1 class="title-font title-product margin_bottom_30">{{ item_name }}</h1>
			<p class="item-price hide price margin_bottom_10" itemprop="price"></p>
			<div class="item-stock hide number-font capital" itemprop="availability"></div>
			<p>Pul Payet Mini Boy Elbise paket içeriği 5 adet seriden oluşmaktadır.</p>
			<div class="margin_bottom_30 item-attribute-selectors">
				{% if has_variants and attributes %}

				{% for d in attributes %}
				{% if attribute_values[d.attribute] -%}
				<div class="item-view-attribute {% if (attribute_values[d.attribute] | len)==1 -%} hidden {%- endif %}"
						style="margin-bottom: 10px;">
					<h6 class="text-muted">{{ _(d.attribute) }}</h6>
					<select class="form-control"
						style="max-width: 140px"
						data-attribute="{{ d.attribute }}">
					{% for value in attribute_values[d.attribute] %}
					<option value="{{ value }}"
					{% if selected_attributes and selected_attributes[d.attribute]==value -%}
						selected
					{%- elif disabled_attributes and value in disabled_attributes.get(d.attribute, []) -%}
						disabled
					{%- endif %}>
						{{ _(value) }}
					</option>
					{% endfor %}
					</select>
				</div>
				{%- endif %}
				{% endfor %}

				{% endif %}
			</div>

			<div class="flex margin_bottom_50 border-bot space_bot_10 btn-function item-cart">
				<div id="item-spinner" class="input-number-group margin_right_10">
					<div class="relative input-number-custom number-spinner">
					<div class="input-group-button absolute down-btn">
						<span class="input-number-decrement ti-angle-down cart-btn" data-dir="dwn"></span>
					</div>
					  <input class="input-number menu-font cart-qty" type="number" min="0" max="1000" value="1" >
					<div class="input-group-button absolute up-btn">
						<span class="input-number-increment ti-angle-up cart-btn" data-dir="up"></span>
					</div>
					</div>
				</div>
				<div id="item-add-to-cart" class="inline-block icon-addcart">
					<button class="enj-add-to-cart-btn btn-default menu-font uppercase">{{ _("Add to Cart") }}</button>
				</div>
				<div id="item-update-cart" style="display: none;">
					<a href="/cart" class='btn btn-md btn-default'>
						<i class='octicon octicon-check'></i>
						{{ _("View in Cart") }}</a>
				</div>
			</div>
			<!--  -->
			<div class="info-more">
				<p class="des-font margin_bottom_30 margin_top_50"><b class="menu-font">{{ _("Item Code") }}:</b> <span itemprop="productID">{{ variant and variant.name or name }}</span></p>
				<p class="margin_bottom_30">
					<span class="menu-font margin_right_10">Seri</span>
					<a href="#" class="delay03 margin_right_10">S,</a>
					<a href="#" class="delay03 margin_right_10">M,</a>
					<a href="#" class="delay03 margin_right_10">L,</a>
					<a href="#" class="delay03 margin_right_10">XL</a>
				</p>
				<div class="margin_bottom_30">
					<h4 class="menu-font margin_right_30">Paylaş:</h4>
					<div class="sharethis-inline-share-buttons"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="tab-content-detail container margin_bottom_50">
	<div class="border-bot space_bot_100">
		<ul class="nav nav-tabs btn-tab-product-detail margin_bottom_100">
			<li class="active"><a data-toggle="tab" href="#home" class=" menu-font btn-tab relative">{{ _("Description") }}<figure class="line"></figure></a></li>
			<li class="container_60"><a data-toggle="tab" href="#menu1" class=" menu-font btn-tab relative">Ödeme, Kargo ve İade Koşulları<figure class="line"></figure></a></li>
		</ul>
		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<p class="des-font des-tab">{{ web_long_description or description or _("No description given") }}</p>
				{% if website_specifications -%}
				<h2 class="menu-font btn-tab">{{ _("Specifications") }}:</h2>
				<ul class="space_left_20 des-font des-tab">
					{% for d in website_specifications -%}
					<li><span class="font-weight-bold">{{ d.label }}:</span>  {{ d.description }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
  		<div id="menu1" class="tab-pane fade">
				<p class="des-font des-tab">Tote bag from Mansur Gavriel in Saddle. Calf leather. Open compartment. Interior side pocket. Top
					handles. Detachable, adjustable shoulder strap. Goldtone hardware. Embossed logo detailing at exterior.
					Tonal patent coated interior.<br><br></p>
				<ul class="space_left_20 des-font des-tab">
					<li>Leather</li>
					<li>Made in Italy</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script>
	{% include "templates/includes/product_page.js" %}

	{% if variant_info %}
	window.variant_info = {{ variant_info }};
	{% else %}
	window.variant_info = null;
	{% endif %}
</script>
{% endblock %}
