{% extends "templates/web.html" %}

{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
</style>
{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->
<div style='min-height: 360px'>
<section class='for-login'>
	<div class="login-content page-card" style="margin-top: 30px;">
		<form class="form-signin form-login" role="form">
			<div class="page-card-head">
				<span class="indicator blue" data-text="{{ _("Oturum Aç") }}"></span>
			</div>

			<input type="text" id="login_email"
				class="form-control form-account"
				placeholder="{% if login_name_placeholder %}{{ login_name_placeholder  }}{% else %}{{ _("E-posta Adresi") }}{% endif %}"
				required autofocus>


			<input type="password" id="login_password"
				class="form-control form-account" placeholder="{{ _('Şifre') }}" required>

			<button class="btn-nixx full-width number-font uppercase" type="submit">
				{{ _("Giriş Yap") }}</button>

			{% if ldap_settings and ldap_settings.enabled %}
			<button class="btn-nixx full-width number-font uppercase">
				{{ _("LDAP ile Giriş Yap") }}</button>
			{% endif %}
		</form>
	</div>
	<div class='form-footer'>

			<div class='social-logins'>
			{%- if social_login -%}
				<h6>{{ _("yada Sosyal Medya Hesaplarını Kullan") }}</h6>

				<p class="text-center" style="margin-top: 15px">
				{% for provider in provider_logins %}
					<a href="{{ provider.auth_url }}"
						class="btn btn-default btn-xs btn-social btn-{{ provider.name }}">
							{{ provider.icon }} {{ provider.provider_name }}</a>
				{% endfor %}
				</p>
			{%- endif -%}
			</div>

	{%- if not disable_signup -%}
		<p class="text-center sign-up-message">
			<a href="#signup" style="margin-top: -2px;">{{ _("Hesabınız yok mu? Kaydol") }}</a>
		</p>
	{%- endif -%}
	<p class="text-center forgot-password-message">
		<a href="#forgot">{{ _("Şifremi Unuttum?") }}</a></p>
	</div>
</section>
<section class='for-signup'>
	<div class="login-content page-card" style="margin-top: 20px;">
	<form class="form-signin form-signup hide" role="form">
		<div class="page-card-head">
			<span class="indicator blue" data-text="{{ _("Yeni Hesap Oluştur") }}"></span>
		</div>
		<input type="text" id="signup_fullname"
			class="form-control form-account" placeholder="{{ _('Adınız Soyadınız') }}" required autofocus>
		<input type="email" id="signup_email"
			class="form-control form-account" placeholder="{{ _('E-posta Adresiniz') }}" required>
		<button class="btn-nixx full-width number-font uppercase" type="submit">{{ _("Hesabımı Oluştur") }}</button>
	</form>
	</div>
	<div class='form-footer'>
		<a href="#login" class="blue">{{ _("Zaten bir hesabınız var mı? Giriş Yap") }}</a>
	</div>
</section>

<section class='for-forgot'>
	<div class="login-content page-card" style="margin-top: 20px;">
	<form class="form-signin form-forgot hide" role="form">
		<div class="page-card-head">
			<span class="indicator blue" data-text="{{ _("Şifremi Unuttum") }}"></span></div>
		<input type="email" id="forgot_email"
			class="form-control form-account" placeholder="{{ _('E-posta Adresi') }}" required autofocus>
		<button class="btn-nixx full-width number-font uppercase" type="submit">{{ _("Şifremi Gönder") }}</button>
	</form>
	</div>
	<div class='form-footer'>
		<a href="#login">{{ _("Giriş Sayfasına Dön") }}</a>
	</div>
</section>
</div>
{% endblock %}

{% block script %}
	<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
