{% extends "templates/web.html" %}
{% block page_content %}
<div class="banner margin_bottom_150">
	<div class="container">
		<h1 class="title-font title-banner">Login/Register</h1>
		<ul class="breadcrumb des-font">
			<li><a href="Home1.html">Home</a></li>
			<li class="active">Login/Register</li>
		</ul>
	</div>
</div>
<!--  -->
<div class="container login_page margin_bottom_50">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <form class="form-signin form-login" role="form">
            <h1 class="title-font text-center capital margin_bottom_50">login</h1>
            <div class="form-customer des-font">
              <div class="form-group">
                <label for="exampleInputEmail1">E-mail*</label>
                <input type="text" class="form-control form-account" id="login_email" placeholder="Email*">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Password*</label>
                <input type="password" id="login_password" class="form-control form-account" placeholder="Password*">
              </div>


              <div class="flex space_top_bot_30">
                  <a href="#recover" id="RecoverPassword" class="link-default">Forgot Password?</a>
              </div>

              <div class="btn-button-group mg-top-30 mg-bottom-15">
                  <button type="submit" class="btn-nixx full-width number-font uppercase">
                      Sign In
                  </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h1 class="title-font text-center capital margin_bottom_50">register</h1>
            <div class="form-customer des-font">
              <div class="form-group">
                <label for="exampleInputEmail1">E-mail*</label>
                <input type="email" class="form-control form-account" name="customer[email]" placeholder="Email*">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Password*</label>
                <input type="password" class="form-control form-account" name="customer[password]" placeholder="Password*">
              </div>
              <div class="btn-button-group">
                  <button type="submit" class="btn-nixx full-width number-font uppercase">
                      register
                  </button>
              </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
	<div class="newsletter-home3 space_bot_150 space_top_130 BG margin_bottom_120">
		<h1 class="title-font capital title-newsletter text-center">Get Our Latest Update In Your Email</h1>
		<p class="des-font des-newsletter space_bot_60 text-center">Subscribe now to get 15% off on any product</p>
		<form class="form-group des-font flex" method="post" target="_blank">
					<input type="email" name="EMAIL" class="form-control" placeholder="Your email address...">
					<button type="submit" class="menu-font uppercase">subscribe</button>
		</form>
	</div>
<!--  -->
{% endblock %}

{% block script %}
	<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}
