{% from "templates/includes/macros.html" import urun_liste_gorsel %}

<div class="product col-lg-2 col-md-4 col-sm-6 col-xs-6 margin_bottom_50 clear-none">
					<div class="img-product relative">
						<a class="inline-block" href="{{ route|abs_url }}">{{ urun_liste_gorsel(website_image) }}</a>
						<figure class="absolute uppercase label-new title-font text-center">new</figure>
					</div>
					<div class="product-info">
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="{{ route|abs_url }}">{{ item_name or name }}</a></h4>
						{% if price_sales_uom %}<p class="number-font price-product"><span class="price">({{ price_stock_uom }} / {{ stock_uom }})</span></p>{% endif %}
            {% if show_availability_status %}
      				{% if in_stock or not is_stock_item %}
      					<div style='color: green'> <i class='fa fa-check'></i> {{ _("In stock") }}</div>
      				{% else %}
      					<div style='color: red'> <i class='fa fa-close'></i> {{ _("Not in stock") }}</div>
      				{% endif %}
      			{% endif %}
						<p class="des-font des-product">{{ description }}</p>
					</div>
					</div>
</div>
				<!--  -->
