{% if slideshow %}
{{ slideshow_header }}

<div class="container relative">
	<div class="row">

		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 info-slider-home1 text-left">
			{% for slide in slides %}
			<div class="slider-nav">
				{% if slide.heading %}<h1 class="title-font title-slider delay1_5">{{ slide.heading }}</h1>{% endif %}
				{% if slide.description %}<p class="des-font des-slider delay1_5">{{ slide.description }}</p>{% endif %}
			</div>
			{% endfor %}
		</div>


		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 slider-home1 space_bot_70 absolute">
			{% for slide in slides %}
			<div class="content-slider">
				<a href="#"><img src="{{ slide.image }}" class="img-responsive" alt=""></a>
			</div>
			{% endfor %}
		</div>

		</div>
	</div>
	</div>
{% endif %}
