<div class="web-sidebar">
	<!-- <div class="your-account-info-sidebar">
		<div class="row">
			<div class="col-xs-2">
				<span class="user-image-sidebar"></span>
			</div>
			<div class="col-xs-10">
				<div class="web-sidebar-user">{{ fullname }}</div>
				<a href="/?cmd=web_logout">
					<div class="text-muted small">
						{{ _("Logout") }}</div>
				</a>
			</div>
		</div>
	</div> -->
	<div class="sidebar-items">
		<ul class="category margin_bottom_70 clear-space-left space_right_10">
			{% if sidebar_title %}
			<li>
				<h1 class="title-font title">{{ sidebar_title }}</h1>
			</li>
			{% endif %}
			{% for item in sidebar_items -%}
			<li>
				<a href="{{ item.route }}" class="des-font link-collection {{ 'active' if '/' + pathname==item.route else 'text-muted' }}"
				{% if item.target %}target="{{ item.target }}"{% endif %}>
				{{ _(item.title or item.label) }}
				</a>
			</li>
			{%- endfor %}
			{% if frappe.user != 'Guest' %}
			<li>
				<a href="/me" class="des-font link-collection">{{ _("My Account") }}</a>
			</li>
			{% endif %}
		</ul>
		</div>
</div>


<script>
frappe.ready(function() {
	$('.sidebar-item a').each(function(index) {
	        if(this.href.trim() == window.location)
	            $(this).addClass("active");
	    });
});
</script>
