		<ul class="category margin_bottom_70 clear-space-left space_right_10">
			{% if sidebar_title %}
			<li>
				<h1 class="title-font title">{{ sidebar_title }}</h1>
			</li>
			{% endif %}
			{% for item in sidebar_items -%}
			<li>
				<a href="{{ item.route }}" class="des-font link-collection {{ 'active' if '/' + pathname==item.route else '' }}"
				{% if item.target %}target="{{ item.target }}"{% endif %}>
				{{ _(item.title or item.label) }}
				</a>
			</li>
			{%- endfor %}
			{% if frappe.user != 'Guest' %}
			<li>
				<a href="/me" class="des-font link-collection">{{ _("My Account") }}</a>
			</li>
			{% endif %}
		</ul>


<script>
frappe.ready(function() {
	$('.des-font a').each(function(index) {
	        if(this.href.trim() == window.location)
	            $(this).addClass("active");
	    });
});
</script>
