<div class="table-cart-bottom margin_top_20 margin_bottom_50">
    <div class="row">
        <div class="col-md-7 col-sm-6 col-xs-12">
            <div class="cart-btn-group">
                <a href="/products" class="btn-nixx number-font left">Alışverişe Devam Et</a>
                <button class="btn-nixx number-font" type="button">{{ _("Place Order") }}</button>
            </div>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="cart-text">
              {% if doc.taxes %}
              <div class="cart-element flex">
                  <p class="des-font">{{ _("Net Total") }}:</p>
                  <p class="right">{{ doc.get_formatted("net_total") }}</p>
              </div>
              {% endif %}
              {% for d in doc.taxes %}
              {% if d.base_tax_amount > 0 %}
              <div class="cart-element flex">
                  <p class="des-font">{{ d.description }}:</p>
                  <p class="right">{{ d.get_formatted("base_tax_amount") }}</p>
              </div>
              {% endif %}
              {% endfor %}
              <div class="cart-element flex">
                  <p class="des-font">{{ _("Grand Total") }}:</p>
                  <p class="right">{{ doc.get_formatted("grand_total") }}</p>
              </div>
            </div>
        </div>
    </div>
</div>
