{% extends "templates/web.html" %}
{% from "templates/includes/macros.html" import product_image_square %}

{% block page_content %}
<div class="container relative margin_bottom_150">
	<div class="row">

		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 info-slider-home1 text-left">
			{% for slide in homepage.slayt %}
			<div class="slider-nav">
				{% if slide.heading %}<h1 class="title-font title-slider delay1_5">{{ slide.heading }}</h1>{% endif %}
				{% if slide.description %}<p class="des-font des-slider delay1_5">{{ slide.description }}</p>{% endif %}
			</div>
			{% endfor %}
		</div>


		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 slider-home1 space_bot_70 absolute">
			{% for slide in homepage.slayt %}
			<div class="content-slider">
				<a href="#"><img src="{{ slide.image }}" class="img-responsive" alt="{{ slide.heading }}"></a>
			</div>
			{% endfor %}
		</div>

		</div>
	</div>
	</div>


	<div class="container margin_bottom_130 section-bestseller-home1" itemscope itemtype="http://schema.org/Product">
		<div class="row">
			<div class="col-md-12">
			{% if homepage.products %}
				<h1 class="title-font capital margin_bottom_10 title-bestseller">{{ _("Featured Products") }}</h1>
			<div id="btn-selection" class="title-font margin_bottom_50">
				<button class="btn all active uppercase btn-default relative margin_right_15">tümü
				<figure class="line active_line absolute delay03"></figure>
				</button>
				<button class="btn blazers uppercase btn-default relative margin_right_15">bluz
					<figure class="line absolute delay03"></figure>
				</button>
				<button class="btn jackets uppercase btn-default relative margin_right_15">ceket
					<figure class="line absolute delay03"></figure>
				</button>
				<button class="btn trousers uppercase btn-default relative margin_right_15">triko
					<figure class="line absolute delay03"></figure>
				</button>
				<button class="btn shoes uppercase btn-default relative margin_right_15">elbise
					<figure class="line absolute delay03"></figure>
				</button>
				<button class="btn accessories uppercase btn-default relative margin_right_15">etek
					<figure class="line absolute delay03"></figure>
				</button>
			</div>
			<div class="slick-bestseller-home7">
				{% for item in homepage.products %}
				<div class="product accessories jackets blazers trousers column">
					<div class="img-product relative">
						{{ product_image_square(item.image) }}
						<figure class="absolute uppercase label-new title-font text-center">yeni</figure>
					</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="{{ item.route|abs_url }}">{{ item.item_name }}</a></h4>
						<!--<p class="number-font price-product"><span class="price">$123.00</span></p>-->
					</div>
				</div>
				<!--  -->
				{% endfor %}
			</div>
			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block style %}

{% endblock %}
