{% extends "templates/web.html" %}
{% from "templates/includes/macros.html" import product_image_square %}
{% block meta_block %}
<link rel=”canonical” href=”https://www.misscix.com.tr” />
<meta name="description" content="MissCix, Merter giyim Yeni Sezonun moda trendlerini en güzel modellerini en uygun fiyata www.mixxcix.com'dan satın alabilirsiniz." />
<meta name="keywords" content= "bayan giyim, bayan kıyafetleri, bayan moda, genç bayan moda, kadın moda, merter toptan alışveriş, bayan elbise, bayan tişört, kadın elbise, kadın tişört, yazlık elbise, fashion, merter moda, womens clothing, merter womens clothing, turkey fashion" />
<meta property="og:url" content="https://www.misscix.com.tr" />
<meta property="og:type" content="website" />
<meta property="og:title" content="MissCix, Merter giyim Yeni Sezonun moda trendlerini en güzel modellerini en uygun fiyata www.mixxcix.com'dan satın alabilirsiniz." />
<meta property="og:image" content="" />
<meta property="og:description" content="MissCix, Merter giyim Yeni Sezonun moda trendlerini en güzel modellerini en uygun fiyata www.mixxcix.com'dan satın alabilirsiniz" />
<meta property="og:site_name" content="MissCix" />
{% endblock %}
{% block page_content %}
<div class="container relative space_bot_150 margin_bottom_150">
	<div class="row">

		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 info-slider-home1 text-left">
			{% for slide in homepage.slayt %}
			<div class="slider-nav">
				{% if slide.heading %}<h1 class="title-font title-slider delay1_5">{{ slide.heading }}</h1>{% endif %}
				{% if slide.description %}<p class="des-font des-slider delay1_5">{{ slide.description }}</p>{% endif %}
			</div>
			{% endfor %}
		</div>


		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 slider-home1 space_bot_70 absolute">
			{% for slide in homepage.slayt %}
			<div class="content-slider">
				<a href="#"><img src="{{ slide.image }}" class="img-responsive" alt="{{ slide.heading }}"></a>
			</div>
			{% endfor %}
		</div>

		</div>
	</div>
	</div>


	<div class="container margin_bottom_130 space_top_80 section-bestseller-home1" itemscope itemtype="http://schema.org/Product">
		<div class="row">
			<div class="col-md-12">
			{% if homepage.products %}
				<h1 class="title-font capital margin_bottom_50 title-bestseller">{{ _("Featured Products") }}</h1>
			<div class="slick-bestseller-home7 space_top_bot_55">
				{% for item in homepage.products %}
				<div class="product accessories jackets blazers trousers column">
						<div class="img-product relative">
							<a href="{{ item.route|abs_url }}">
							{{ product_image_square(item.image) }}
							</a>
							<figure class="absolute uppercase label-new title-font text-center">yeni</figure>
						</div>
					<div class="info-product text-center">
						<h4 class="des-font capital title-product space_top_20"><a href="{{ item.route|abs_url }}">{{ item.item_name }}</a></h4>
						<!--<p class="number-font price-product"><span class="price">$123.00</span></p>-->
					</div>
				</div>
				<!--  -->
				{% endfor %}
			</div>
			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block style %}

{% endblock %}
