<footer>
		<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-about-home1 footer-subscribe">
				<h4 class="des-font space_bot_20 title-about-home1">İletişim</h4>
				<p class="space_bot_10 location"><span class="ti-location-pin"></span><span> Mehmet Nesih Özmen Mahallesi,<br>Gülsever Sokak 34173 Güngören/İstanbul</span></p>
				<p class="space_bot_10 location"><span class="ti-headphone"></span><span> +90 212 505 0583</span></p>
				<p class="space_bot_10 location"><span class="ti-email"></span><span> info@misscix.com.tr</span></p>
				<div class="space_bot_50">
					<a href="#"><img src="/assets/misscix_theme/img/img-footer-1.png" class="img-responsive" alt="MissCix - Merter Toptan Giyim Mağazası"></a>
				</div>
				<form class="form-group des-font flex" method="post" target="_blank">
					<input type="email" id="footer-subscribe-email" class="form-control" placeholder="{{ _('Your email address') }}...">
					<button type="button" id="footer-subscribe-button"><i class="ti-location-arrow"></i></button>
				</form>
			</div>
			{% if footer_items -%}
				{% include "templates/includes/footer/footer_items.html" %}
			{% endif %}
		</div>
		</div>
	<div class="container-fluid des-font text-center space_top_bot_10 copyright">{% if copyright %}&copy; {{ copyright }}{% endif %}</div>
</footer>
<script>
frappe.ready(function() {
	$("#footer-subscribe-button").click(function() {
		if($("#footer-subscribe-email").val() && validate_email($("#footer-subscribe-email").val())) {
			$("#footer-subscribe-email").attr('disabled', true);
			$("#footer-subscribe-button").html("Sending...")
				.attr("disabled", true);
			erpnext.subscribe_to_newsletter({
				email: $("#footer-subscribe-email").val(),
				callback: function(r) {
					if(!r.exc) {
						$("#footer-subscribe-button").html(__("Added"))
							.attr("disabled", true);
					} else {
						$("#footer-subscribe-button").html(__("Error: Not a valid id?"))
							.addClass("btn-danger").attr("disabled", false);
						$("#footer-subscribe-email").val("").attr('disabled', false);
					}
				}
			});
		}
		else
			frappe.msgprint(frappe._("Please enter valid email address"))
	});
});
</script>
<div class="overlay"></div>
	<div class="gotop text-center fade"><i class="ti-angle-up"></i></div>
	<div class="form-search delay03 text-center">
		<i class="ti-close" id="close-search"></i>
    <h3 class="text-center title-font">sizin için<br>ne aramamı istersiniz ?</h3>
    <form method="get" action="/product_search" role="search">
			<input type="text" class="form-control control-search des-font" value="" autocomplete="off" placeholder="Lütfen aramak istediğiniz ürün adını veya modeli yazın ..." aria-label="SEARCH" name="search">
      <button class="button_search title-font" type="submit">ara</button>
    </form>
	</div>
