{% extends "templates/web.html" %}

{%- block header -%} {{ header or "" }} {%- endblock -%}

{% block meta_block %}
	{% include "templates/includes/meta_block.html" %}
{% endblock %}

{% block hero %}{{ hero or "" }}{% endblock %}

{% block breadcrumbs %}
    {% if not no_breadcrumbs %}
    {% include "templates/includes/breadcrumbs.html" %}
    {% endif %}
{% endblock %}

{% block page_content %}
	{% include "templates/includes/slideshow.html" %}
	<div class="container collection-home3 space_top_bot_50 margin_top_150">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-8 col-xs-12">
				<article class="web-page-content" id="{{ name }}" {% if text_align -%}style="text-align: {{ text_align }}"{%- endif %}>
				{{ main_section or "" }}
				</article>
			</div>
		</div>
	</div>
	{% if enable_comments -%}
	<hr>
	<h3>Discuss</h3>
	{% include 'templates/includes/comments/comments.html' %}
	{%- endif %}
{% endblock %}

{% block style %}
<style>
{{ style or "" }}
</style>
{% endblock %}

{% block script %}
    <script>{{ script or "" }}</script>
{% endblock %}
